.sal {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    /* background-color: #2D2E40; */
    background-color: #2d2e40d8;

    
}

.sali{
    padding-left: 5px;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin-left: 25px;
}

.save {
    width: 20%;
    height:400px;
    float: left;
    margin-left: 30px;
    /* background-color: #121324; */

    background-color: rgba(255, 0, 0, 0);

    /* border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    background-color: #f1f1f1; */

}

.saves {
    margin-top: 10px;
    width: 100%;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    /* background-color: #2D2E40; */

    background-color: #2d2e40d8;

}

.amount {
    float: left;
    width: 250px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin-left: 25px;
    padding-left: 5px;

}

.perc{
    float: left;
    width: 250px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin-left: 25px;
    padding-left: 5px;

}

.btn{
    height: 48px;
    width: 150px;
    border: 1px solid black;
    background-color: #5C7DEE;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 25px;
    margin-top: 30px;
}

.btn:hover {
    background-color: #71C3A8;
}