.Month {
    width: 45%;
    height: 300px;
    float: left;
    background-color: #f1f1f1;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
    /* box-shadow: 0 0 2px 0.1px#5C7DEE; */
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);

    border-radius: 20px;
}

.mon {
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    color: #5C7DEE;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.sal1 {
    margin-top: 25px;
    margin-left: 25px;
    width: 50%;
    height: 50px;
    float: left;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

h2 {
    position: absolute;
    bottom: 5px;
    left: 25px;
    font-size: 50px;
    background-color: #2d2e4000;
    color: #5C7DEE;
    font-weight: 400;

}

.btn {
    float: left;
    height: 48px;
    width: 150px;
    margin: 50px;
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid black;
    background-color: #5C7DEE;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.btn:hover {
    background-color: #71C3A8;
}