.Month {
    width: 50%;
    height: 500px;
    float: left;
    background-color: rgb(226, 225, 225);
    border: 1px solid black;
    margin: 50px;
    border-radius: 25px;
    position: relative;
}

h1 {
    text-align: center;
    text-decoration: underline;

}

.sal-1 {
    margin-top: 25px;
    margin-left: 25px;
    width: 50%;
    height: 50px;
    float: left;
    padding: 5px;
}

.sal-2 {
    margin-top: 25px;
    margin-left: 25px;
    width: 50%;
    height: 50px;
    float: left;
    padding: 5px;
}

.sal-3 {
    margin-top: 25px;
    margin-left: 25px;
    width: 50%;
    height: 50px;
    padding: 5px;
    float: left;
}

.sal-4 {
    margin-top: 25px;
    margin-left: 25px;
    width: 50%;
    height: 50px;
    padding: 5px;
    float: left;
}

.btn {
    float: left;
    height: 50px;
    width: 150px;
    margin: 50px;
    background-color: rgb(172, 172, 172);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;

}

.btn:hover {
    background-color: rgb(126, 126, 126);
}